@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root{
    --clr-darkmagenta: hsl(300, 43%, 22%);
    --clr-softpink: hsl(333, 80%, 67%);
    --clr-darkgrayishmagenta: hsl(303, 10%, 53%);
    --clr-lightgrayishmagenta: hsl(300, 24%, 96%);
    --clr-white: hsl(0, 0%, 100%);

    --ff-primary: 'League Spartan', sans-serif;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--ff-primary);
    font-size: 15px;
    background-color: var(--clr-white);
    background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.topper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.topper h1{
    color: var(--clr-darkmagenta);
    font-size: 28px;
    width: 200px;
    margin-bottom: 1rem;
}

.topper p{
    color: var(--clr-darkgrayishmagenta);
    width: 300px;
    letter-spacing: 0.5px;
    line-height: 1rem;
    margin-bottom: 2rem;
}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin-bottom: 3rem;
}

.block{
    background-color: var(--clr-lightgrayishmagenta);
    border-radius: 10px;
    width: 300px;
    padding: .7rem;
}

.star{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5rem;
}

.star img{
    width: 100%;
    width: 15px;
}

.block p{
    color: var(--clr-darkmagenta);
    font-weight: bold;
    font-size: 13px;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 3rem;
}

.grid{
    background-color: var(--clr-darkmagenta);
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.grid img{
    border-radius: 50%;
    width: 100%;
    width: 38px;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
    margin-bottom: 1rem;
    font-size: 13px;
    font-weight: bold;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0.4em;
}

.fullname{
    color: var(--clr-white);
}

.job{
    color: var(--clr-softpink);
}

.bot{
    color: var(--clr-white);
    text-align: left;
    font-size: 14px;
    line-height: 1.2rem;
    letter-spacing: .5px;
}

@media(min-width: 1200px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .topper{
        align-items: baseline;
        text-align: left;
        margin-bottom: 4rem;
    }
    .topper h1{
        font-size: 50px;
        font-weight: bold;
        width: 400px;
        margin-bottom: 1.7rem
    }
    .topper p{
        width: 600px;
        font-size: 23px;
        line-height: 25px
    }
    .super-top{
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        gap: 5rem;
        width: 1100px;
    }
    .second-rate{
        transform: translateX(50px);
    }
    .third-rate{
        transform: translateX(100px);
    }
    .middle{
        gap: 1.5rem;
    }
    .bottom{
        display: flex;
        flex-direction: row;
        gap: 3em;
    }
    .grid{
        width: 340px;
        padding: 2.5rem;
    }
    .second-pro{
        transform: translateY(20px);
    }
    .third-pro{
        transform: translateY(40px);
    }
}